doctype html
html
    head
        meta(charset="UTF-8")
        title imooc jade study
    body
        h3 单行注释
        //h3#title.title imooc jade study
        h3 非缓存注释
        //-#id.classname
        h3 块注释
        -
            p
            a(href='https://baidu.com',title='百度',data-uid='1000')百度
            input(name='course',type='text',value='jade')
            input(name='type',type='checkbox',checked)
        p
          | 1.aa
          strong 11
          | 2.bb
          | 3.c
          span 33
          | 4.dd

