*{
    margin: 0;
    padding: 0;
}
#blur-div{
  /*  width: 800px;
    height: 600px;*/
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#blur-imge{

  /*  width: 800px;
    height: 600px;*/
    -webkit-filter:blur( 25px);

    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
/*filter的相关属性*/
   /* filter: blur(25px);
    -moz-filter:blur(25px);
    -ms-filter:blur(25px);
    -o-filter:blur(25px);*/
    /*-webkit-filter:grayscale(1);*/
    /*-webkit-filter:sepia(1);*/
    /*-webkit-filter:sepia(1);*/
    /*-webkit-filter:saturate(1);*/
    /*-webkit-filter:hue-rotate(90deg);*/
    /*-webkit-filter:invert(1);*/
    /*-webkit-filter:opacity(0.3);*/
    /*-webkit-filter:brightness(0.5);*/
    /*-webkit-filter:contrast(3);*/
    /*-webkit-filter:drop-shadow(10px 10px 2px #aaa);*/
}
#canvas{
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
  /*  background-color: red;*/
}
.button{
    display: block;
    position: absolute;
    z-index: 200;

    width: 100px;
    height: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}
#reset_button{
    left:50px;
    bottom:20px;
    background-color: #058;
}
#reset_button:hover{
    background-color: #047;
}
#show_button{
    right:50px;
    bottom:20px;
    background-color: #058;
}
#show_button:hover{
    background-color: #074;
}