body,ul,li{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
.rating{
    background: yellow;
    width: 130px;
    height: 26px;
    margin: 10px auto;
}
.rating-item{
    float: left;
    width: 26px;
    height: 26px;
    background: url(img/rating.png) no-repeat;
    cursor: pointer;
}