<!DOCTYPE html>
<html ng-app="app">
<head >
    <meta charset="UTF-8">
    <title>myevent</title>
</head>
<body>
<div class="show-scope">
    <div ng-controller="Eventcontroller">
        root scope <tt>My Event</tt>count:{{count}}
        <ul>
            <li ng-repeat="i in [1,2]"ng-controller="Eventcontroller">
                <button ng-click="$emit('Myevent')">
                    $emit('Myevent')
                </button>

                <button ng-click="$broadcast('Myevent')">
                    $broadcast('Myevent')
                </button>
                <br/>
                middle scope  <tt>My Event</tt>count:{{count}}
                <ul>
                    <li ng-repeat="i in [1,2]"ng-controller="Eventcontroller">
                        leaf scope  <tt>My Event</tt>count:{{count}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<script src="../js/angular.min.js"></script>
<script src="05-2.js"></script>
</body>
</html>