<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜鸟教程(runoob.com)</title>

</head>
<body>
<div id="aaa">
    <div class="filter fl"  v-for="(filter, index) in filters">
        <div class="filter-title" >
            <h3>{{filter.title}}</h3>
        </div>
        <ul class="filter-list" transition="scaley" v-show="filter.showFilter">
            <li class="hairline-bottom" @click="changeFilter(index, category)" v-for="(category ,subIndex) in filter.categories">{{category}}</li>
        </ul>
    </div>
    <div :style="{ background: activeColor, fontSize: fontSize + 'px' }">test</div>
    <div >
        <input v-model="newTodo" @keyup.enter="addTodo">
        <ul>
            <li v-for="todo in todos">
                <span>{{ todo.text }}</span>
                <button @click="removeTodo($index)">X</button>
            </li>
        </ul>
    </div>

    <div @click="test()">
        test
    </div>
    <embed width="100%" height="800px" name="plugin" type="application/pdf"  src="http://7xudc8.com1.z0.glb.clouddn.com/01产品简介-中泰主板定增1号-中信证券.pdf">


    <span v-text="testFont"></span>
</div>

<script src="js/vue.js"></script>
<script src="js/vue03.js"></script>
</body>
</html>
