*{
    margin: 0;
    padding: 0;
}
#outer-div{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background: #f00;
}
.inner_div{
    min-height: 10px;
    min-width: 10px;
    position: absolute;
    display:inline-block;
    background: #ff0;
    cursor: pointer;
}
#count{
    display: inline;
}
.outer{
    line-height: 30px;
    height: 30px;
}
.time{
    display: inline;
    right: 0;
}
