*{
    padding: 0;
    margin: 0;
}
html,body {
    height: 100%;
    width: 100%;
}
.clear{clear:both}
.main{
    height: 100%
}


.grand_one{
    background: url(./img/1.png) no-repeat center center ;
    background-size: cover;
}
.grand_two{
    background: url(./img/2.png) no-repeat center center ;
    background-size: cover;
}
.grand_three{
    /*background: yellow ;*/
    background-size: cover;
}
.grand_three .grand_three_UI{
}
.grand_three .grand_three_UI li{
    font-size: 4em;
    width: 100%;
    height: 100%;
}

.grand_three .grand_three_UI li:nth-child(4n+1){
    background: url(./img/spring.png) no-repeat center center ;
    background-size: cover;
}
.grand_three .grand_three_UI li:nth-child(4n+2){
    background: url(./img/summer.png) no-repeat center center ;
    background-size: cover;
}
.grand_three .grand_three_UI li:nth-child(4n+3){
    background: url(./img/autumn.png) no-repeat center center ;
    background-size: cover;
}
.grand_three .grand_three_UI li:nth-child(4n){
    background: url(./img/winter.png) no-repeat center center ;
    background-size: cover;
}

.grand_four{
    background: url(img/4.png) no-repeat center center ;
    background-size: cover;
}
.grand_five{
    background: url(img/5.png) no-repeat center center ;
    background-size: cover;
}

