*{
    padding: 0;
    margin: 0;
}
html,body {
    height: 100%;
    width: 100%;
}
.clear{clear:both}
.main{
    height: 100%
}
.page{

}

.page1{
    background: url(./img/1.png) no-repeat center center ;
    background-size: cover;
}
.page2{
    background: url(./img/2.png) no-repeat center center ;
    background-size: cover;
}
.page3{
    background: yellow ;
    background-size: cover;
}
.page3 .page3Ul{
    /*height: 100%;*/
    /*width: 100%;*/
}
.page3 .page3Ul li{
    width: 100%;
    height: 100%;
}

.page3 .page3Ul li:nth-child(4n+1){
    background: url(./img/3-1.png) no-repeat center center ;
    background-size: cover;
}
.page3 .page3Ul li:nth-child(4n+2){
    background: url(./img/3-2.png) no-repeat center center ;
    background-size: cover;
}
.page3 .page3Ul li:nth-child(4n+3){
    background: url(./img/3-3.png) no-repeat center center ;
    background-size: cover;
}
.page3 .page3Ul li:nth-child(4n){
    background: url(img/3-0.png) no-repeat center center ;
    background-size: cover;
}

.page4{
    background: url(img/4.png) no-repeat center center ;
    background-size: cover;
}
.page5{
    background: url(img/5.png) no-repeat center center ;
    background-size: cover;
}

