<!DOCTYPE html>
<html ng-app="app">
<head >
    <meta charset="UTF-8">
    <title>css</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <script src="../js/angular.min.js"></script>
    <script src="06-css.js"></script>
    <style>
        .text-red{
              color: #f00;
          }
        .text-green{
              color: green;
          }
        .error{
              background-color: #f00;
          }
        .warning{
            background-color: green;
          }
    </style>
</head>
<body>
<div>
    <div ng-controller="cssCtrl">
        <p class="text-{{color}}">测试Css样式</p>
        <button class="btn btn-default"ng-click="setGreen()">绿色</button>
        <div ng-class='{error:iserror,warning:iswarning}'>{{messageText}}</div>
        <button class="btn btn-default"ng-click="showError()">showError</button>
        <button class="btn btn-default"ng-click="showWarning()">showWarning</button>
    </div>
</div>

</body>
</html>