<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>element</title>
    <link rel="stylesheet" href="element-ui/index.css">
</head>
<body>
<input type="checkbox" v-model="checkAll" v-check-all="checkAll" check-data="checkData">
<ul>
    <li v-for="item in checkData">
        <input type="checkbox" v-model="item.checked">
        {{item.text}}
    </li>
</ul>

<script src="js/vue.js"></script>
<script src="element-ui/index.js"></script>
<script src="js/vue07.js"></script>
</body>
</html>